@import url("https://fonts.cdnfonts.com/css/valorant");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");

body {
  margin: 0;
  overflow: hidden;
  border: 5px solid #ff4654;
  background-color: #0f1923;
  color: #0f1923;
  font: 400 18px/22px "Rajdhani", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px;
  width: 75%;
  max-width: 280px;
  height: 380px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgb(255 0 0 / 0.2),
    0 8px 10px -6px rgb(255 0 0 / 0.2);
}

.card svg {
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
  opacity: 0.1;
}

.text-board {
  text-align: center;
  font-size: 25px;
  color: #ff4654;
  font-family: "VALORANT", sans-serif;
}

.age-results {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

label {
  font-weight: 700;
  text-transform: uppercase;
  align-self: start;
  letter-spacing: 1px;
  color: #0f1923;
  padding-left: 3px;
}

input {
  width: 90%;
  height: 40px;
  margin-bottom: 30px;
  padding: 0 8px;
  font: 400 18px "Rajdhani", sans-serif;
  background: transparent;
  border: none;
  border: 1px solid #0f1923;
  border-radius: 2px;
}

.btn {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  /* Clean style */

  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7d8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);

  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.btn::before,
.btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all 0.15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn__inner::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all 0.2s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.btn__content {
  position: relative;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: var(--button-bits-color-hover);
}
